name = "pj-auth"
main = "src/index.ts"
compatibility_date = "2026-02-24"
workers_dev = true

routes = [
  { pattern = "users.pajamadot.com", custom_domain = true }
]

[vars]
ACCESS_TOKEN_TTL_SECONDS = "900"
REFRESH_TOKEN_TTL_SECONDS = "2592000"
COOKIE_NAME = "pj_auth_refresh"
COOKIE_DOMAIN = ""
GOOGLE_DEFAULT_SCOPE = "openid email profile"

[[d1_databases]]
binding = "DB"
database_name = "pj-auth-db"
database_id = "104c25c8-4ffe-487c-9a79-7edc4a6dacaf"
migrations_dir = "migrations"
