name = "pj-auth"
main = "src/index.ts"
compatibility_date = "2026-02-24"
workers_dev = true

routes = [
  { pattern = "users.pajamadot.com", custom_domain = true }
]

[vars]
PUBLIC_AUTH_URL = "https://users.pajamadot.com"
CORS_ORIGINS = "https://users.pajamadot.com,http://127.0.0.1:8787"
ACCESS_TOKEN_TTL_SECONDS = "900"
REFRESH_TOKEN_TTL_SECONDS = "2592000"
EMAIL_VERIFICATION_TTL_SECONDS = "900"
PASSWORD_RESET_TTL_SECONDS = "900"
COOKIE_NAME = "pj_auth_refresh"
COOKIE_DOMAIN = ""
GOOGLE_DEFAULT_SCOPE = "openid email profile"
EXPOSE_TEST_TOKENS = "false"
EMAIL_FROM = "PajamaDot Auth <noreply@users.pajamadot.com>"

[[d1_databases]]
binding = "DB"
database_name = "pj-auth-db"
database_id = "104c25c8-4ffe-487c-9a79-7edc4a6dacaf"
migrations_dir = "migrations"
